body {
	background-color: #161616;
	font-family: 'Helvetica', sans-serif;
	color: #f2f2f2;
}

/******************
*	#GENERAL
*******************/
h1, h3 {
	margin: 0;
	padding: 0;
}

/******************
*	#CONTENT
*******************/
.content {
	width: 20%;
	vertical-align: top;
	display: inline-block;
	margin: 50px;
}
.content.right {
	float: right;
	text-align: right;
}
